html {
 overflow-x: hidden; }
/*body {
  line-height: 1.7;
  color: #91b029;
  font-weight: 300;
  font-size: 16px; }*/



a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  text-decoration: none;
  padding-bottom: 50px;
  /*color: #91b029 !important;*/
 }
  a:hover {
    text-decoration: none; }

  .btn a{
    background-color: #91b029; 
  }  

.text-white {
    color: white;
    
}

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  font-weight: 300;
  color: #90af29; }

.border-2 {
  border-width: 2px; }

.text-black {
  color: #000; }

.bg-black {
  background: #000; }

.color-black-opacity-5 {
  color: rgba(0, 0, 0, 0.5); }

.color-white-opacity-5 {
  color: rgba(255, 255, 255, 0.5); }

.btn {
  padding: 10px 20px;
  text-decoration: none; }
  .btn:active, .btn:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .btn.btn-outline-white {
    border-color: #90af29;
    background: transparent;
    color: #90af29; }
    .btn.btn-outline-white:hover {
      background: #fff;
      border-color: #fff;
      color: #000; }
  .btn.btn-black {
    background-color: #000;
    color: #fff; }

.line-height-1 {
  line-height: 1; }

.bg-black {
  background: #000; }


.site-section {
  padding: 40px 0; }
  /*@media (min-width: 768px) {
    .site-section {
      padding: 80px 0; } }*/
  .site-section.site-section-sm {
    padding: 64px 0; }

.owl-stage{
  transform: translate3d(-1130px 0px 0px);
  transition: all 1s ease 0s;
  width: 3955px;
}
.owl-item-cloned{
  width: 545px;
  margin-right: 20px;
}

/* Navbar */
.site-navbar {
  margin-bottom: 0px;
  z-index: 1999;
  position: fixed;
  top: -16px;
  width: 100%;
  padding: 10px; }
  /*@media (max-width: 991.98px) {
    .site-navbar {
      padding-top: 48px;
      padding-bottom: 48px; } }*/
  .site-navbar .toggle-button {
    position: absolute;
    right: 0px; }
  .site-navbar .site-logo {
    margin: -25px;
    padding: 0;
    font-size: 29px; }
    .site-navbar .site-logo a {
      text-transform: uppercase;
      color: #fff; }
    /*@media (max-width: 991.98px) {
      .site-navbar .site-logo {
        float: left;
        position: relative; } }*/
  .site-navbar .site-navigation.border-bottom {
    border-bottom: 1px solid white !important; }
  .site-navbar .site-navigation .site-menu {
    margin: 0;
    padding: 0;
    margin-bottom: 0; }
    .site-navbar .site-navigation .site-menu .active {
      color: #91b029 !important; }
    .site-navbar .site-navigation .site-menu a {
      text-decoration: none !important;
      display: inline-block; }
    .site-navbar .site-navigation .site-menu > li {
      display: inline-block; }
      .site-navbar .site-navigation .site-menu > li > a {
        margin-left: 15px;
        margin-right: 15px;
        padding: 20px 0px;
        color: #fff !important;
        display: inline-block;
        text-decoration: none !important; }
        .site-navbar .site-navigation .site-menu > li > a:hover {
          color: #91b029; }
      .site-navbar .site-navigation .site-menu > li.active > a {
        color: black !important; }
    .site-navbar .site-navigation .site-menu .has-children {
      position: relative; }
      .site-navbar .site-navigation .site-menu .has-children > a {
        position: relative;
        padding-right: 20px; }
        .site-navbar .site-navigation .site-menu .has-children > a:before {
          position: absolute;
          content: "\e313";
          font-size: 16px;
          top: 50%;
          right: 0;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          font-family: 'Roboto'; }
      .site-navbar .site-navigation .site-menu .has-children .dropdown {
        visibility: hidden;
        opacity: 0;
        top: 100%;
        position: absolute;
        text-align: left;
        border-top: 2px solid #91b029;
        -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
        box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
        padding: 0px 0;
        margin-top: 20px;
        margin-left: 0px;
        background: #fff;
        -webkit-transition: 0.2s 0s;
        -o-transition: 0.2s 0s;
        transition: 0.2s 0s; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
          position: absolute; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
            display: none;
            bottom: 100%;
            left: 20%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
            border-color: rgba(136, 183, 213, 0);
            border-bottom-color: #fff;
            border-width: 10px;
            margin-left: -10px; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown a {
          text-transform: none;
          letter-spacing: normal;
          -webkit-transition: 0s all;
          -o-transition: 0s all;
          transition: 0s all;
          color: #000 !important; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown a.active {
            color: #91b029 !important;
            background: #f8f9fa; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown > li {
          list-style: none;
          padding: 0;
          margin: 0;
          min-width: 200px; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a {
            padding: 9px 20px;
            display: block; }
            .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a:hover {
              background: #f8f9fa;
              color: #ced4da; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > a:before {
            content: "\e315";
            right: 20px; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > .dropdown, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > ul {
            left: 100%;
            top: 0; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:active > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:focus > a {
            background: #f8f9fa;
            color: #ced4da; }
      .site-navbar .site-navigation .site-menu .has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children:focus > a, .site-navbar .site-navigation .site-menu .has-children:active > a {
        color: #91b029; }
      .site-navbar .site-navigation .site-menu .has-children:hover, .site-navbar .site-navigation .site-menu .has-children:focus, .site-navbar .site-navigation .site-menu .has-children:active {
        cursor: pointer; }
        .site-navbar .site-navigation .site-menu .has-children:hover > .dropdown, .site-navbar .site-navigation .site-menu .has-children:focus > .dropdown, .site-navbar .site-navigation .site-menu .has-children:active > .dropdown {
          -webkit-transition-delay: 0s;
          -o-transition-delay: 0s;
          transition-delay: 0s;
          margin-top: 0px;
          visibility: visible;
          opacity: 1; }




.block-13 .owl-nav, .block-14 .owl-nav {
  display: none; }

.block-13 .owl-dots, .block-14 .owl-dots {
  text-align: center;
  position: relative;
  bottom: -30px; }
  .block-13 .owl-dots .owl-dot, .block-14 .owl-dots .owl-dot {
    display: inline-block; }
    .block-13 .owl-dots .owl-dot span, .block-14 .owl-dots .owl-dot span {
      display: inline-block;
      width: 7px;
      height: 7px;
      border-radius: 4px;
      background: rgba(255, 255, 255, 0.4);
      -webkit-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
      -o-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
      transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
      margin: 3px; }
    .block-13 .owl-dots .owl-dot.active span, .block-14 .owl-dots .owl-dot.active span {
      background: #fff; } 



.site-mobile-menu {
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 20px;
  background: #fff;
  height: calc(100vh);
  -webkit-transform: translateX(110%);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
  -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out; }
  .offcanvas-menu .site-mobile-menu {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%); }
  .site-mobile-menu .site-mobile-menu-header {
    width: 100%;
    float: left;
    padding-left: 20px;
    padding-right: 20px; }
    .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
      float: right;
      margin-top: 8px; }
      .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
        font-size: 30px;
        display: inline-block;
        padding-left: 10px;
        padding-right: 0px;
        line-height: 1;
        cursor: pointer;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
          color: #ced4da; }
    .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
      float: left;
      margin-top: 10px;
      margin-left: 0px; }
      .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
        display: inline-block;
        text-transform: uppercase; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
          max-width: 70px; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
          text-decoration: none; }
  .site-mobile-menu .site-mobile-menu-body {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: relative;
    padding: 0 20px 20px 20px;
    height: calc(100vh - 52px);
    padding-bottom: 150px; }
  .site-mobile-menu .site-nav-wrap {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative; }
    .site-mobile-menu .site-nav-wrap a {
      padding: 10px 20px;
      display: block;
      position: relative;
      color: #212529; }
      .site-mobile-menu .site-nav-wrap a:hover {
        color: #91b029; }
    .site-mobile-menu .site-nav-wrap li {
      position: relative;
      display: block; }
      .site-mobile-menu .site-nav-wrap li .nav-link.active {
        color: #91b029; }
      .site-mobile-menu .site-nav-wrap li.active > a {
        color: #91b029; }
    .site-mobile-menu .site-nav-wrap .arrow-collapse {
      position: absolute;
      right: 0px;
      top: 10px;
      z-index: 20;
      width: 36px;
      height: 36px;
      text-align: center;
      cursor: pointer;
      border-radius: 50%; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
        background: #f8f9fa; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse:before {
        font-size: 12px;
        z-index: 20;
        font-family: "icomoon";
        content: "\f078";
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%) rotate(-180deg);
        -ms-transform: translate(-50%, -50%) rotate(-180deg);
        transform: translate(-50%, -50%) rotate(-180deg);
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
    .site-mobile-menu .site-nav-wrap > li {
      display: block;
      position: relative;
      float: left;
      width: 100%; }
      .site-mobile-menu .site-nav-wrap > li > a {
        padding-left: 20px;
        font-size: 20px; }
      .site-mobile-menu .site-nav-wrap > li > ul {
        padding: 0;
        margin: 0;
        list-style: none; }
        .site-mobile-menu .site-nav-wrap > li > ul > li {
          display: block; }
          .site-mobile-menu .site-nav-wrap > li > ul > li > a {
            padding-left: 40px;
            font-size: 16px; }
          .site-mobile-menu .site-nav-wrap > li > ul > li > ul {
            padding: 0;
            margin: 0; }
            .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
              display: block; }
              .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
                font-size: 16px;
                padding-left: 60px; }
    .site-mobile-menu .site-nav-wrap[data-class="social"] {
      float: left;
      width: 100%;
      margin-top: 30px;
      padding-bottom: 5em; }
      .site-mobile-menu .site-nav-wrap[data-class="social"] > li {
        width: auto; }
        .site-mobile-menu .site-nav-wrap[data-class="social"] > li:first-child a {
          padding-left: 15px !important; }




/* Blocks */
.site-section-cover {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
  .site-section-cover,
  .site-section-cover .container {
    position: relative;
    z-index: 2; }
  .site-section-cover,
  .site-section-cover .container > .row {
    height: calc(100vh - 196px);
    min-height: 677px; }
    /*@media (max-width: 991.98px) {
      .site-section-cover,
      .site-section-cover .container > .row {
        height: calc(70vh - 196px);
        min-height: 600px; } }*/
  .site-section-cover.overlay {
    position: relative; }
    .site-section-cover.overlay:before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.6);
      z-index: 1; }
  .site-section-cover.inner-page,
  .site-section-cover.inner-page .container > .row {
    height: auto;
    min-height: auto;
    padding: 32px 0; }
  .site-section-cover.img-bg-section {
    background-size: cover;
    background-repeat: no-repeat; }
  .site-section-cover h1 {
    font-size: 48px;
    color: #fff;
    line-height: 1; }
    /*@media (max-width: 991.98px) {
      .site-section-cover h1 {
        font-size: 32px; } }*/
  .site-section-cover p {
    font-size: 18px;
    color: #fff; }

.site-section {
  padding: 50px 0; }
  /*@media (max-width: 991.98px) {
    .site-section {
      padding: 48px 0; } }*/

.block-heading-1 span {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: bold; }

.block-heading-1 h2 {
  font-size: 48px;
  color: #91b029; }
  /*@media (max-width: 991.98px) {
    .block-heading-1 h2 {
      font-size: 32px; } }*/

.block-feature-1-wrap {
  margin-bottom: 112px; }
  .block-feature-1-wrap > .container > .row {
    margin-left: -18px;
    margin-right: -18px; }
    .block-feature-1-wrap > .container > .row > .col,
    .block-feature-1-wrap > .container > .row > [class*="col-"] {
      padding-right: 36px;
      padding-left: 36px; }



.section-3 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative; }
  .section-3 > .container {
    z-index: 2; }
  .section-3:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background-color: rgba(0, 0, 0, 0.5); }


.slide {
  height: 40vh;
 /* min-height: 900px;*/
  background-size: cover; }

.border-w-2 {
  border-width: 2px !important; }

.block__73694 .block__73422 {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }
  /*@media (max-width: 991.98px) {
    .block__73694 .block__73422 {
      height: 400px; } }*/

/*@media (max-width: 991.98px) {
  .slide-one-item .owl-nav {
    display: none; } }*/



.ftco-blocks-cover-1 .ftco-service-image-1 {
  margin-top: -70px;
  position: static; }

.ftco-cover-1 {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }
  .ftco-cover-1, .ftco-cover-1 .container > .row {
    height: 100vh;
    min-height: 900px; }
  .ftco-cover-1.innerpage, .ftco-cover-1.innerpage .container > .row {
    height: 90vh;
    min-height: 700px; }
  .ftco-cover-1 > .container {
    position: relative; }
  .ftco-cover-1.overlay {
    position: relative; }
    .ftco-cover-1.overlay:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: .5;
      background: #000; }
    .ftco-cover-1.overlay h1 {
      color: #fff;
      font-size: 48px; }
    .ftco-cover-1.overlay p {
      color: #fff; }
      .ftco-cover-1.overlay p a {
        color: #fff;
        font-weight: 700; }
        .ftco-cover-1.overlay p a:hover {
          text-decoration: none; }
    .ftco-cover-1.overlay form .form-control,
    .ftco-cover-1.overlay form .btn {
      height: 55px;
      border-radius: 4px; }
    .ftco-cover-1.overlay form .form-control {
      padding-left: 20px;
      padding-right: 20px;
      border-color: transparent;
      margin-right: 10px; }
    .ftco-cover-1.overlay form .btn {
      border-color: transparent; }*/


/* Realtors */
 .realestate-filter {
  background: #91b029; }
  .realestate-filter .realestate-filter-wrap {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    z-index: 6;
    position: relative; }
    
  .realestate-filter a {
    padding: 10px 20px;
    display: inline-block;
    color: #fff;
    background: #fff;
    color: #91b029; }
    .realestate-filter a.active {
      background: #91b029;
      color: white !important; }

   .realestate-filter {
    background: 
    rgb(145, 176, 41);
}   

.realestate-tabpane {
  background-color: #91b029; }

.service-38201 span {
  font-size: 48px;
  color: #fff;
  color: #91b029 !important; }

.service-38201 h3 {
  color: #fff;
  text-transform: uppercase;
  font-size: 15px; }

.service-38201 p {
  color: #fff;
  font-size: 14px; }

.heading-29201 {
  position: relative;
  padding-top: 20px;
  color: #000;
  font-size: 22px;
  text-transform: uppercase; }
  .heading-29201:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 2px;
    background: #91b029; }
  .heading-29201.text-center:before {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }

.service-39290 .media-icon > span {
  font-size: 64px;
  color: #91b029; }

.service-39290 .text h3 {
  font-size: 20px; }

.media-38289 {
  color: #fff; }
  .media-38289 .sq, .media-38289 .bed, .media-38289 .bath {
    font-size: 13px;
    color: #fff; }
    .media-38289 .sq .wrap-icon, .media-38289 .bed .wrap-icon, .media-38289 .bath .wrap-icon {
      margin-right: 5px;
      color: #91b029; }
  .media-38289 .address {
    color: rgba(255, 255, 255, 0.7); }
  .media-38289 .text {
    padding: 30px;
    background: #222; }

.person-29381 {
  position: relative; }
  .person-29381 img {
    z-index: 2;
    position: relative; }
  .person-29381 .media-39912 {
    position: relative;
    margin-bottom: 20px; }
    .person-29381 .media-39912:before {
      content: "";
      z-index: 0;
      position: absolute;
      top: -20px;
      left: -20px;
      height: 100%;
      width: 50%;
      border: 2px solid #91b029; }
  .person-29381 h3 {
    font-size: 18px;
    margin: 0; }
    .person-29381 h3 a {
      color: #000; }
  .person-29381 .meta {
    font-size: 14px;
    color: #999; }

.social-32913 a {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  background: #efefef;
  border-radius: 50%; }
  .social-32913 a > span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.site-section-bg-primary {
    background-color: #91b029 !important;
}

 .testimonial-38920{
  background-color: #91b029 !important;

 }   

.testimonial-38920 h3 {
  font-size: 20px;
  color: #fff; }

.testimonial-38920 .meta {
  color: rgba(255, 255, 255, 0.3); }

.testimonial-38920 p {
  color: rgba(255, 255, 255, 0.9); }

.testimonial-38920 .pic {
  -webkit-box-flex: 0;
  /*-ms-flex: 0 0 90px;*/
  flex: 0 0 90px; }

.pagination-39291 > span, .pagination-39291 > a {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 30px;
  text-align: center; }

.pagination-39291 .active {
  background: #fff;
  color: #91b029; }

.pagination-39291 > a {
  background: #91b029;
  color: #fff; }


.site-footer {
  padding: 64px 0;
  background: #000; }
  @media (min-width: 768px) {
    .site-footer {
      padding: 128px 0; } }
  .site-footer .border-top {
    border-top: 1px solid rgba(255, 255, 255, 0.1) !important; }
  .site-footer p {
    color: rgba(255, 255, 255, 0.7); }
  .site-footer h2, .site-footer h3, .site-footer h4, .site-footer h5 {
    color: #fff; }
  .site-footer a {
    color: white !important; }
    .site-footer a:hover {
      color: white !important; }
  .site-footer ul li {
    margin-bottom: 10px; }
  .site-footer ul.menu-arrow li {
    position: relative;
    padding-left: 20px; }
    .site-footer ul.menu-arrow li:before {
      font-family: "icomoon";
      content: "\e315";
      position: absolute;
      top: 0;
      left: 0;
      color: #91b029; }
  .site-footer .footer-heading {
    font-size: 16px;
    color: #fff; }



  .fa{
    color: #91b029;
  }


.fa-hotel::before, .fa-bed::before {
    word-spacing: 5px;
    color: #91b029;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #91b029 !important;
    border-color: #91b029 !important; 
}

.site-section-bg-primary{
  color: #91b029 !important;
}

.carousel-caption{
  position: relative;
  left: 0%;
  width: 50%;
  margin-left: 10%;
  text-align: left;
  padding: 50px;
}
.carousel-caption h5{
  font-size: 25px;
}
.b{
  border-radius: 50px;
}
iframe{
  height: 100%;
}

.bg-success {
  background-color: #91b029 !important;
}


.nonloop-block-13 .owl-nav {
  display: flex; }

.nonloop-block-13 .owl-stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .nonloop-block-13 .owl-stage .owl-item {
    height: 100% !important; }



.navigation{
  position: fixed;
  top: 0;

}
.col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 141%;
    max-width: 150%;
}
.site-logo{
  padding-bottom: 10px;
}

.position-rel-3 {
    position: relative;
    overflow: hidden;
}

.position-abs-3 {
    font-size: 1rem;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    text-align: left;
    transform: translateY(calc(100% - 65px));
    transition: transform 0.5s ease;
    padding: 0 15px;
}

.position-rel-3:hover .position-abs-3 {
    transform: translateY(0);
    transition: transform 0.5s ease;
    cursor: pointer;
}

 


    